<div class="stolen-frosty span6 offset4 text-center">

<h1 class="stolen-h1">

<h1 class="stolen-h1">Hi I'm Sean</h1>

<br/>

<h2>
I'm having fun?
</h2>

<br/>

<%= link_to 'Eat Pie', pics_path, :class => 'btn btn-warning
btn-large' %>

</div>

